<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MyTrello</title>
  <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
  <section class="projetos">
    <ul>
      <li><a href="projeto.html"><span>Projeto 1 suhdhuadshuas uhadshudashudashu uhadshu</span></a></li>
      <li><a href="projeto.html"><span>Projeto 2</span></a></li>
      <li><a href="projeto.html"><span>Projeto 3</span></a></li>
      <li><a href="projeto.html"><span>Projeto 4</span></a></li>
      <li><a href="projeto.html"><span>Projeto 5</span></a></li>
      <li><a href="projeto.html"><span>Projeto 6</span></a></li>
    </ul>
  </section>
</body>
</html>