<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MyTrello</title>
  <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
  <div class="wrapper">
    <header>
      <select>
        <option>sprint 1</option>
        <option>sprint 2</option>
      </select>
      <h1><a href="index.html">MyTrello</a></h1>
    </header>

    <section class="quadro">
      <ul>
        <h2>Teste</h2>
        <li><span>Tarefa 1 saudhdshau usadhhudashuda </span></li>
        <li><span>Tarefa 2</span></li>
        <li><span>Tarefa 3</span></li>
      </ul>

      <ul>
        <h2>Teste 2</h2>
        <li><span>Tarefa 4</span></li>
        <li><span>Tarefa 5</span></li>
        <li><span>Tarefa 6</span></li>
      </ul>

      <ul>
        <h2>Teste 3</h2>
        <li><span>Tarefa 7</span></li>
        <li><span>Tarefa 8</span></li>
        <li><span>Tarefa 9</span></li>
      </ul>

      <ul>
        <h2>Teste 4</h2>
        <li><span>Tarefa 10</span></li>
        <li><span>Tarefa 12</span></li>
        <li><span>Tarefa 13</span></li>
      </ul>
    </section>
  </div>

  <div class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p></p>
    </div>
  </div>

  <script src="js/site.js"></script>
</body>
</html>